
.header {
    
     color: white;
    background-color: rgb(0,0, 15);
}

.lang-group {
    display: flex;
    
    flex-direction: row-reverse;

}

.lang {
    border: 1px solid black;
    padding: 15px;
    background-color: rgb(0,0, 15);
}



/*#rus {
    background-color: rgb(0,0, 15);
    border: 1px solid black;
}

#eng {
    background-color: rgb(0,0, 15);
    border: 1px solid black;
}

#pol {
    background-color: rgb(0,0, 15);
    border: 1px solid black;
}*/

.lang:hover {
    border: 1px solid rgb(255,255, 255);
    background-color: rgb(0,0, 75);
}

a {
    color: white;
    -webkit-text-stroke-color: red;
}