.fixed-header {
    position: fixed;
    width: 100%;
}


.header {
     display: flex;
     flex-direction: row-reverse;

     color: white;
     justify-content: space-between;

    background-color: rgba(40, 42, 66,0.9);
}

.back {
    padding: 15px;
}

.right-group{
    display: flex;
    
    flex-direction: row;
    

}

.menu {
    display: flex;
    margin-right: 35px;
}

.menu-item {
    padding: 15px;
}

.menu-item:hover {
    background-color: rgb(0,0, 75);
}

.lang-group {
    display: flex;
    
    flex-direction: row-reverse;

}

.lang {
    border: 1px solid rgba(40, 42, 66, 0.9);;
    padding: 15px;
}

.router {
    padding-top: 55px;
}

/*#rus {
    background-color: rgb(0,0, 15);
    border: 1px solid black;
}

#eng {
    background-color: rgb(0,0, 15);
    border: 1px solid black;
}

#pol {
    background-color: rgb(0,0, 15);
    border: 1px solid black;
}*/

.lang:hover {
    border: 1px solid rgb(255,255, 255);
    background-color: rgb(0,0, 75);
}

a {
    color: white;
    -webkit-text-stroke-color: red;
}