<div class="header">  
  <div class="lang-group" >
    <div class="lang" id="rus" (click)="onClickMe('ru')">
     RU
    </div>
    <div class="lang" id="eng" (click)="onClickMe('en')">
      EN
    </div> 
    <div class="lang" id="pol" (click)="onClickMe('pl')">
      PL
    </div>
  </div>
  
</div>

<!--<div style="color:white" > <h2> test - {{test}}</h2></div>-->


<!--<h4>You choose {{lang}} language </h4> -->
<app-main-component [lang] = "lang" (page_router)="onNotify($event)" *ngIf="page == '/main'">
             
</app-main-component>

<app-about-component [lang] = "lang"  *ngIf="page == '/about'">
   
</app-about-component>


<!--<router-outlet [lang] = "lang"></router-outlet> -->